.weathercard {
  z-index: 1000;
  position: fixed;
  max-width: 800px;
  width: 100%;
  top: 30%;
  display: flex;
  flex-direction: column;
  height: 20rem;
  border: 1px solid green;

  .inner-flex {
    display: flex;
    justify-content: space-around;
  }
  .inner-flex > div:nth-child(1) {
    flex: 1;
  }
}

.search-container {
  width: 100%;
  .location-search-input {
    width: 100%;
    height: 2.3rem;
    padding-left: 10px;
    border: 1px solid grey;
  }
}

.icons {
  display: flex;
}

.autocomplete-dropdown-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  border-left: 1px solid #2c2d3e;
  border-right: 1px solid #2c2d3e;
  border-top: 0;
  position: absolute;
  z-index: 2000;
  width: 100%;

  .suggestion-item,
  .suggestion-item--active {
    border-bottom: 1px solid grey;
    padding: 7px;
  }
}

.search-button-box {
  background-color: #eaeaec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height: 2.3rem;
  margin-left: 15px;
}

.location-button-box {
  background-color: #eaeaec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height: 2.3rem;
  margin-left: 15px;
}

.position-div {
  position: relative;
  width: 100%;
}

.weather-info {
  position: absolute;
  z-index: 1300;
  top: 100%;
  width: 100%;
  padding-top: 20px;

  .city {
    font-size: 1.5rem;
  }
}
